<div class="mt-24 lg:mt-52 mb-24 lg:mb-52">
    <div class="w-12 mt-4 mr-7 border-solid border border-[#D02B32] float-left"></div>
    <h1 class="text-3xl pb-16 ppeiko xl:text-4xl">{{'body.projects.title'|translate}}</h1>

    <div class="containerProjectMobile lg:containerProjectLeft text-lg mt-7 md:mt-16"> <!--Catherine's website-->
        <div class="lg:w-[100%] bg-[#213253] mt-5 xl:mt-0 h-fit projectImage">
            <div class="flex justify-between">
                <img src="./assets/images/MobileApp1.png" class="w-52 p-3 hidden sm:block">
                <img src="./assets/images/MobileApp2.png" class="w-52 p-3 hidden sm:block">
                <img src="./assets/images/MobileApp3.png" class="w-52 p-3 hidden xl:block">

            </div>
            <img src="./assets/images/MobileApp1.png" class="p-5 sm:hidden">
        </div>
        <div class="projectTitle flex lg:block text-center space-x-5 lg:space-x-0 lg:text-left justify-center">
            <h2 class="text-[#D02B32] mt-2 lato">{{'body.projects.gengoffeemobile.numbers'|translate}}</h2>
            <h1 class="text-xl md:text-2xl mt-2 lg:mt-3 ppeiko text-center lg:text-left">{{'body.projects.gengoffeemobile.title'|translate}}</h1>
        </div>
        <div class="projectDesc h-full text-left md:col-span-2"> 
            <div class="bg-[#F2DDDD] min-h-56 h-fit max-h-72 sm:h-fit mt-6 w-4/5 lg:w-[110%] m-auto relative pl-3 py-1 md:py-3 xl:py-7">
                <p class="lato-light text-base 2xl:text-xl p-1" [innerHtml]="'body.projects.gengoffeemobile.core'|translate"></p>
            </div>
        </div>
        <div class="flex md:block techno mt-6 lg:mt-2 lg:justify-self-start mx-auto lg:mx-0">
            <div class= "child:mr-6 mb-4 md:mt-6 text-xl lato-light flex">
                <p class="">{{'body.projects.gengoffeemobile.languages.1'|translate}}</p>
                <p class="">{{'body.projects.gengoffeemobile.languages.2'|translate}}</p>
                <p class="">{{'body.projects.gengoffeemobile.languages.3'|translate}}</p>
            </div>
            <div class="flex lg:items-end md:mt-6 justify-center lg:justify-start">
                <a href="https://github.com/Mecheraf/GengoffeeMobile"><img class="ml-5 h-6" src="./assets/images/git.svg"></a> 
            </div>
        </div>
    </div>

    <div class="containerProjectMobile lg:containerProject text-lg mt-5"> <!--Gengoffee Website-->
        <div class="lg:w-[110%] bg-[#213253] mt-5 2xl:mt-0 h-fit projectImage">
            <img src="./assets/images/gengoffeehome.png" class="p-3 xl:p-5 2xl:p-7 hidden sm:block">
            <img src="./assets/images/gengoffeemobile.jpg" class="p-5 sm:hidden">
        </div>
        <div class="projectTitle flex lg:block lg:text-right space-x-5 justify-center">
            <h2 class="text-[#D02B32] mt-2 lato">{{'body.projects.gengoffee.numbers'|translate}}</h2>
            <h1 class="text-right text-xl md:text-2xl mt-2 xl:mt-3 ppeiko">{{'body.projects.gengoffee.title'|translate}}</h1>
        </div>
        <div class="projectDesc h-full lg:text-right md:col-span-2">
            <div class="bg-[#F2DDDD] min-h-56 h-fit max-h-72 mt-6 w-4/5 m-auto lg:w-[110%] lg:right-[10%] relative px-2 xl:px-3 py-1 md:py-3 xl:py-7">
                <p class="lato-light text-base 2xl:text-xl p-1" [innerHtml]="'body.projects.gengoffee.core'|translate"></p>
            </div>
        </div>
        <div class="flex md:block techno mt-6 lg:mt-2 justify-self-center lg:justify-self-end">
            <div class= "child:ml-2 md:child:ml-6 md:mt-6 text-xl lato-light flex">
                <p class="">{{'body.projects.gengoffee.languages.1'|translate}}</p>
                <p class="">{{'body.projects.gengoffee.languages.2'|translate}}</p>
                <p class="">{{'body.projects.gengoffee.languages.3'|translate}}</p>
            </div>
            <div class="flex md:items-end md:mt-5　gap-5 justify-center lg:justify-end">
                <a href="https://github.com/Mecheraf/Portfolio"><img class="h-6" src="./assets/images/git.svg"></a> 
                <a href="https://www.gengoffee.fr"><img class="w-6 h-6" src="./assets/images/internet-logo.svg"></a> 
            </div>
        </div>
    </div>

    <div class="containerProjectMobile lg:containerProjectLeft text-lg mt-7 md:mt-16"> <!--Catherine's website-->
        <div class="lg:w-[100%] bg-[#213253] mt-5 xl:mt-0 h-fit projectImage">
            <img src="./assets/images/catherinethanhome.png" class="p-3 xl:p-5 2xl:p-7 hidden sm:block">
            <img src="./assets/images/catherinethanmobile.jpg" class="p-3 sm:hidden">

        </div>
        <div class="projectTitle flex lg:block text-center space-x-5 lg:space-x-0 lg:text-left justify-center">
            <h2 class="text-[#D02B32] mt-2 lato">{{'body.projects.catherinethan.numbers'|translate}}</h2>
            <h1 class="text-xl md:text-2xl mt-2 lg:mt-3 ppeiko text-center lg:text-left">{{'body.projects.catherinethan.title'|translate}}</h1>
        </div>
        <div class="projectDesc h-full text-left md:col-span-2"> 
            <div class="bg-[#F2DDDD] min-h-56 h-fit max-h-72 sm:h-fit mt-6 w-4/5 lg:w-[110%] m-auto relative pl-3 py-1 md:py-3 xl:py-7">
                <p class="lato-light text-base 2xl:text-xl p-1" [innerHtml]="'body.projects.catherinethan.core'|translate"></p>
            </div>
        </div>
        <div class="flex md:block techno mt-6 lg:mt-2 lg:justify-self-start mx-auto lg:mx-0">
            <div class= "child:mr-6 mb-4 md:mt-6 text-xl lato-light flex">
                <p class="">{{'body.projects.catherinethan.languages.1'|translate}}</p>
                <p class="">{{'body.projects.catherinethan.languages.2'|translate}}</p>
            </div>
            <div class="flex lg:items-end md:mt-6 justify-center lg:justify-start">
                <a href="https://www.catherinethan.com"><img class="mr-5 h-6" src="./assets/images/internet-logo.svg"></a> 
            </div>
        </div>
    </div>
</div>