<div class="mt-52 mb-52">
    <div class="w-24 mt-4 mr-7 border-solid border border-[#D02B32] float-left"></div>
    <h1 class="text-3xl pb-16">{{'projects'|translate}}</h1>
    <div class="grid grid-cols-5 h-96">
        <div class="w-[105%] bg-[#213253] h-full col-span-3">

        </div>
        <div class=" h-full text-right col-span-2">
            <h2 class="text-[#D02B32] text-lg mt-2 lato">{{'body.projects.gengoffee.numbers'|translate}}</h2>
            <h1 class="text-2xl mt-3 ppeiko">{{'body.projects.gengoffee.title'|translate}}</h1>
            <div class="bg-[#F2DDDD] h-40 mt-6 w-[110%] right-[10%] relative"></div>
            <div class= "child:ml-6 mt-6 text-xl lato-light">
                <p class="inline">{{'body.projects.gengoffee.languages.1'|translate}}</p>
                <p class="inline">{{'body.projects.gengoffee.languages.2'|translate}}</p>
                <p class="inline">{{'body.projects.gengoffee.languages.3'|translate}}</p>
            </div>
            <a href=""><img class="float-right mt-5" src="./assets/images/git.svg"></a>
        </div>

    </div>
</div>