<div class="mt-20 md:mt-52 mb-52">
    <div class="w-12 mt-4 mr-7 border-solid border border-[#D02B32] float-left"></div>
    <h1 class="text-3xl pb-16 ppeiko xl:text-4xl">{{'body.projects.title'|translate}}</h1>
    <!--<div class="container md:grid md:grid-cols-5 h-96 text-lg">-->
    <div class="containerExperienceMobile md:containerExperience text-lg mt-5">
        <div class="w-[105%] bg-[#213253] h-80 md:h-full projectImage">
            <img src="./assets/images/gengoffeehome.png" class="p-7">
        </div>
        <div class="projectTitle flex md:block md:text-right space-x-5">
            <h2 class="text-[#D02B32] mt-2 lato">{{'body.projects.gengoffee.numbers'|translate}}</h2>
            <h1 class="text-right text-xl md:text-2xl mt-2 md:mt-3 ppeiko">{{'body.projects.gengoffee.title'|translate}}</h1>
        </div>
        <div class="projectDesc h-full text-right md:col-span-2"> 
            <div class="bg-[#F2DDDD] min-h-56 h-fit max-h-72 sm:h-fit mt-6 w-[110%] right-[10%] relative pr-3 py-7">
                <p class="lato-light text-sm lg:text-base xl:text-xl p-1 text-right" [innerHtml]="'body.projects.gengoffee.core'|translate"></p>
            </div>
        </div>
        <div class="flex md:block techno mt-2 md:justify-self-end">
            <div class= "child:ml-2 md:child:ml-6 md:mt-6 text-xl lato-light flex">
                <p class="">{{'body.projects.gengoffee.languages.1'|translate}}</p>
                <p class="">{{'body.projects.gengoffee.languages.2'|translate}}</p>
                <p class="">{{'body.projects.gengoffee.languages.3'|translate}}</p>
            </div>
            <div class="flex md:items-end md:mt-5 justify-end">
                <a href="https://github.com/Mecheraf/Portfolio"><img class="ml-5 h-6" src="./assets/images/git.svg"></a> 
                <a href="https://www.gengoffee.fr"><img class="ml-5 h-6" src="./assets/images/internet-logo.svg"></a> 
            </div>
        </div>
    </div>

    <div class="containerExperienceMobileLeft md:containerExperienceLeft text-lg mt-7 md:mt-16">
        <div class="w-[105%] bg-[#213253] h-80 md:h-full projectImage">
            <img src="./assets/images/catherinethanhome.png" class="p-7">
        </div>
        <div class="projectTitle flex md:block md:text-left space-x-5 md:space-x-0">
            <h2 class="text-[#D02B32] mt-2 lato">{{'body.projects.catherinethan.numbers'|translate}}</h2>
            <h1 class="text-left text-xl md:text-2xl mt-2 md:mt-3 ppeiko">{{'body.projects.catherinethan.title'|translate}}</h1>
        </div>
        <div class="projectDesc h-full text-left md:col-span-2"> 
            <div class="bg-[#F2DDDD] min-h-56 h-fit max-h-72 sm:h-fit mt-6 w-[110%] relative pl-3 py-7">
                <p class="lato-light text-sm lg:text-base xl:text-xl p-1" [innerHtml]="'body.projects.catherinethan.core'|translate"></p>
            </div>
        </div>
        <div class="flex md:block techno mt-2 md:justify-self-end">
            <div class= "child:mr-2 md:child:ml-6 md:mt-6 text-xl lato-light flex">
                <p class="">{{'body.projects.catherinethan.languages.1'|translate}}</p>
                <p class="">{{'body.projects.catherinethan.languages.2'|translate}}</p>
            </div>
            <div class="flex md:items-end md:mt-5 justify-end">
                <a href="https://www.catherinethan.com"><img class="mr-5 h-6" src="./assets/images/internet-logo.svg"></a> 
            </div>
        </div>
    </div>
</div>