<span class="form-inline">
    <div class="fixed items-center flex-col bottom-0 left-8 text-[#1F3D87] hidden md:flex">
        <a class="mb-6" href="https://github.com/Mecheraf"><img src="./assets/images/git.svg"></a>
        <a class="mb-6" href="https://www.linkedin.com/in/alan-mecheraf/"><img src="./assets/images/linkedin.svg"></a>
        <a class="mb-12" href="https://www.instagram.com/alan.mech/"><img src="./assets/images/insta.svg"></a>
        <div class="border-[#1F3D87] border border-opacity-100 h-20 z-0"></div>
    </div>
</span>