<div class="w-full mt-52">
    <div class="w-24 mt-4 mr-7 border-solid border border-[#D02B32] float-left"></div>
    <h1 class="text-2xl pb-16">{{'trainings'|translate}}</h1>
    <div class="w-full m-auto lg:grid lg:grid-cols-2 xl:grid-cols-3 grid-y-14 pb-48">
        <div class="w-80 border border-solid border-[#D02B32] pl-5 pt-7 pb-8 pr-8">
            <div class="">{{'body.trainings.master.title'|translate}}</div>
            <div class="text-[#D02B32] mt-3 mb-3">{{'body.trainings.master.date'|translate}}</div>
            <div>{{'body.trainings.master.place'|translate}}</div>
        </div>
        <div class="w-80 border border-solid border-[#D02B32] pl-5 pt-7 pb-8 pr-8">
            <div class="">{{'body.trainings.ia900.title'|translate}}</div>
            <div class="text-[#D02B32] mt-3 mb-3.5">{{'body.trainings.ia900.date'|translate}}</div>
        </div>
        <div class="w-80 border border-solid border-[#D02B32] pl-5 pt-7 pb-8 pr-8">
            <div class="">{{'body.trainings.bachelor.title'|translate}}</div>
            <div class="text-[#D02B32] mt-3 mb-3">{{'body.trainings.bachelor.date'|translate}}</div>
            <div>{{'body.trainings.bachelor.place'|translate}}</div>
        </div>
        <div class="w-80 border border-solid border-[#D02B32] pl-5 pt-7 pb-8 pr-8">
            <div class="">{{'body.trainings.az900.title'|translate}}</div>
            <div class="text-[#D02B32] mt-3 mb-3">{{'body.trainings.az900.date'|translate}}</div>
        </div>
       <!-- <div class="w-80 border border-solid border-[#D02B32] pl-5 pt-7 pb-8 pr-8">
            <div>{{'body.trainings.licence.title'|translate}}</div>
            <div class="text-[#D02B32] mt-3 mb-3">{{'body.trainings.licence.date'|translate}}</div>
            <div>{{'body.trainings.licence.place'|translate}}</div>
        </div>-->

        <div class="xl:col-start-2 xl:col-end-4 relative">
            <img src="./assets/images/training_arrow.svg" class="float-left mr-8 mt-20">
            <h1 class="text-3xl mb-2 mt-16" >{{'body.cours.title'|translate}}</h1>
            <div class="h-full w-px border-[#D02B32] border border-solid absolute top-0 left-60"></div>
        </div>
   </div>
</div>