<div class="text-center mb-40">
    <h2 class="mb-6 text-[#D02B32] text-3xl lato">
        {{'body.contact.intro'|translate}}
    </h2>
    <h1 class="text-6xl mb-10 ppeiko">
        {{'body.contact.contactme'|translate}}
    </h1>
    <p class="text-lg m-auto w-full sm:w-4/5 lg:w-3/5 lato-light">
        {{'body.contact.core'|translate}}
    </p>
    <div class="lato-light text-lg text-[#D02B32] ">
        <button  class="border border-solid border-[#D02B32] hover:bg-[#D02B32] hover:text-white mt-6 lg:mt-9 px-8 py-4 lg:text-2xl">{{'body.contact.send'|translate}}</button>
    </div>

</div>