<div class=" mt-52">
    <div class="text-red-500 font-bold"></div>
    <div class="w-80 h-96 bg-blue-900 float-left mr-32">
    <div class="w-24 mt-4 -mr-16 border-solid border border-[#D02B32] float-right"></div>

    </div>
    <h1 class="text-2xl">{{'about'|translate}}</h1>
    <div class="w-11/12">

        <p [innerHtml]="'body.about.core'|translate"></p>
        <h2 class="mb-14">{{'body.about.competences.title'|translate}}</h2>
        <a href="" class="border-[#D02B32] border-solid border text-red-600 hover:bg-red-600 hover:text-white px-4 py-3 text-lg mr-9">Mon CV</a>
        <a href="https://github.com/Mecheraf" class="border-[#D02B32] border-solid border text-red-600 hover:bg-red-600 hover:text-white px-4 py-3 text-lg mr-9">Mon Github</a>
    </div>
</div>