<div class="grid grid-flow-col gap-x-44 mt-52">
    <div class="w-80 h-96 bg-blue-900 float-left">
        <div class="w-24 mt-4 -mr-16 border-solid border border-[#D02B32] float-right"></div>

    </div>
   
    <div class="w-11/12">
        <h1 class="text-2xl">{{'about'|translate}}</h1>
        <p [innerHtml]="'body.about.core'|translate"></p>
        <h2 class="mb-5 mt-9">{{'body.about.competences.title'|translate}}</h2>
        <div class="grid grid-rows-3 grid-cols-2 gap-x-8 mb-14">
            <div>
                <img src="./assets/images/skills_arrow.svg" class="float-left mt-3 mr-3">
                <p class="text-lg">{{'body.about.competences.1'|translate}}</p>
            </div>
            <div>
                <img src="./assets/images/skills_arrow.svg" class="float-left mt-3 mr-3">
                <p class="text-lg">{{'body.about.competences.2'|translate}}</p>
            </div>
            <div>
                <img src="./assets/images/skills_arrow.svg" class="float-left mt-3 mr-3">
                <p class="text-lg">{{'body.about.competences.3'|translate}}</p>
            </div>
            <div>
                <img src="./assets/images/skills_arrow.svg" class="float-left mt-3 mr-3">
                <p class="text-lg">{{'body.about.competences.4'|translate}}</p>
            </div>
            <div>
                <img src="./assets/images/skills_arrow.svg" class="float-left mt-3 mr-3">
                <p class="text-lg">{{'body.about.competences.5'|translate}}</p>
            </div>
            <div>
                <img src="./assets/images/skills_arrow.svg" class="float-left mt-3 mr-3">
                <p class="text-lg">{{'body.about.competences.6'|translate}}</p>
            </div>
        </div>
        <div class="">
            <a href="" class="border-[#D02B32] border-solid border text-red-600 hover:bg-red-600 hover:text-white px-4 py-3 text-lg mr-9">Mon CV</a>
            <a href="https://github.com/Mecheraf" class="border-[#D02B32] border-solid border text-red-600 hover:bg-red-600 hover:text-white px-4 py-3 text-lg mr-9">Mon Github</a>
        </div>
    </div>

</div>