<IfModule mod_headers.c>
  # Set allow Access-Control-Allow-Origin header
  Header set Access-Control-Allow-Origin "*"
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  
  RewriteCond %{HTTP_HOST} https://alanmecheraf.fr 
  RewriteRule (.*) https://www.alamecheraf.fr/$1 [R=301,L]
</IfModule>