/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 7px;
        height: 20px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
        
        border-radius: 100vh;
        border-left: 2px solid white;
        border-right: 2px solid white;
        background: #213253;
        box-shadow: inset 0 0 5px #213253;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
        background: #D02B32;
        border-radius: 100vh;
    }
  
}

.lato {
    font-family: 'Lato';
}

.lato-light {
    font-family: 'Lato-light';
}

.lato-bold {
    font-family: 'Lato-bold';
}

.ppeiko {
    font-family: 'PPEiko-medium';
}

.ppeiko-bold {
    font-family: 'PPEiko-heavy';
}

.ppeiko-thin {
    font-family: 'PPEiko-thin';
}

