<div class="w-full md:w-11/12 mt-52">
    <div class="w-12 mt-4 mr-7 border-solid border border-[#D02B32] float-left"></div>
    <h1 class="text-2xl ppeiko">{{'experiences'|translate}}</h1>
    <div class="mt-16 md:grid md:grid-cols-2 md:gap-x-28">
        
        <div class="text-[#D02B32] lato-light child:h-16 text-xl 
        flex items-center child:inline-block child:mr-8 child:mb-4 scrollbar-mobile overflow-x-scroll text-center
        sm:block sm:items-start sm:child:block sm:overflow-y-scroll sm:scrollbar md:h-80 md:pl-14 sm:overflow-x-auto"> 
            <h1 (mouseover)="displayExperience('gazel')" (mouseout)="hideExperience('gazel')" class="sm:mb-6 border border-solid border-[#D02B32] w-fit py-3 px-5 hover:bg-[#D02B32] hover:text-white">{{'body.experiences.gazel.title'|translate}}</h1>
            <h1 (mouseover)="displayExperience('oishi')" (mouseout)="hideExperience('oishi')" class="sm:mb-6 border border-solid border-[#D02B32] min-w-fit md:w-fit py-1 md:py-3 px-5 hover:bg-[#D02B32] hover:text-white">{{'body.experiences.oishi.title'|translate}}</h1>
            <h1 (mouseover)="displayExperience('ddm')" (mouseout)="hideExperience('ddm')" class="sm:mb-6 border border-solid border-[#D02B32] w-fit py-1 md:py-3 px-5 hover:bg-[#D02B32] hover:text-white">{{'body.experiences.ddm.title'|translate}}</h1>
            <h1 (mouseover)="displayExperience('nagano')" (mouseout)="hideExperience('nagano')" class="border border-solid border-[#D02B32] w-fit py-1 md:py-3 px-5 hover:bg-[#D02B32] hover:text-white">{{'body.experiences.nagano.title'|translate}}</h1>
        </div>
        <div class="h-96 md:h-full sm:float-right relative overflow-hidden child:duration-[300ms] text-lg
        child:w-[310px] child:md:w-96 child:h-fit child:md:h-full  child:py-2 child:mt-2 child:md:mt-0 child:px-5 child:md:px-7">
            <div id="gazel" class="transition-all border border-solid border-[#D02B32] translate-x-[100vw] absolute">
                <h1 class="text-2xl text-center mt-4 mb-3">{{'body.experiences.gazel.title'|translate}}</h1>
                <div class="border border-solid border-[#D02B32] m-auto"></div>
                <h2 class="mt-5 lato-bold opacity-50">{{'body.experiences.gazel.place'|translate}}</h2>
                <h2 class="text-[#D02B32] lato">{{'body.experiences.gazel.date'|translate}}</h2>
                <div class="w-10/12 mt-4 mb-3">
                    <img src="./assets/images/experience_arrow.svg" class="float-left mt-3 mr-4">
                    <h3 class="lato">{{'body.experiences.gazel.post'|translate}}</h3>
                </div >
                <p class="lato-light" [innerHtml]="'body.experiences.gazel.core'|translate"></p>
            </div>

            <div id="oishi" class="transition-all border border-solid border-[#D02B32] translate-x-[100vw] absolute">
                <h1 class="text-2xl text-center mt-4 mb-3">{{'body.experiences.oishi.title'|translate}}</h1>
                <div class="border border-solid border-[#D02B32] m-auto"></div>
                <h2 class="mt-5 lato-bold opacity-50">{{'body.experiences.oishi.place'|translate}}</h2>
                <h2 class="text-[#D02B32] lato">{{'body.experiences.oishi.date'|translate}}</h2>
                <div class="w-10/12 mt-4 mb-3">
                    <img src="./assets/images/experience_arrow.svg" class="float-left mt-3 mr-4">
                    <h3 class="lato">{{'body.experiences.oishi.post'|translate}}</h3>
                </div >
                <p class="lato-light" [innerHtml]="'body.experiences.oishi.core'|translate"></p>
            </div>

           <div id="ddm" class="transition-all border border-solid border-[#D02B32] translate-x-[100vw] absolute">
                <h1 class="text-2xl text-center mt-4 mb-3">{{'body.experiences.ddm.title'|translate}}</h1>
                <div class="border border-solid border-[#D02B32] m-auto"></div>
                <h2 class="mt-5 lato-bold opacity-50">{{'body.experiences.ddm.place'|translate}}</h2>
                <h2 class="text-[#D02B32] lato">{{'body.experiences.ddm.date'|translate}}</h2>
                <div class="w-10/12 mt-4 mb-3">
                    <img src="./assets/images/experience_arrow.svg" class="float-left mt-3 mr-4">
                    <h3 class="lato">{{'body.experiences.ddm.post'|translate}}</h3>
                </div >
                <p class="lato-light" [innerHtml]="'body.experiences.ddm.core'|translate"></p>
            </div>

            <div id="nagano" class="transition-all border border-solid border-[#D02B32] translate-x-[100vw] absolute">
                <h1 class="text-2xl text-center mt-4 mb-3">{{'body.experiences.nagano.title'|translate}}</h1>
                <div class="border border-solid border-[#D02B32] m-auto"></div>
                <h2 class="mt-5 lato-bold opacity-50">{{'body.experiences.nagano.place'|translate}}</h2>
                <h2 class="text-[#D02B32] lato">{{'body.experiences.nagano.date'|translate}}</h2>
                <div class="w-10/12 mt-4 mb-3">
                    <img src="./assets/images/experience_arrow.svg" class="float-left mt-3 mr-4">
                    <h3 class="lato">{{'body.experiences.nagano.post'|translate}}</h3>
                </div >
                <p class="lato-light" [innerHtml]="'body.experiences.nagano.core'|translate"></p>
            </div>

            
        </div>
   </div>
</div>