<div class="w-11/12 mt-52">
    <div class="w-24 mt-4 mr-7 border-solid border border-[#D02B32] float-left"></div>
    <h1 class="text-2xl">{{'experiences'|translate}}</h1>
    <div class="mt-16 grid grid-cols-2 gap-x-28">
        
        <div class="overflow-y-scroll scrollbar h-80"> 
            <h1 (mouseover)="gazel=true" (mouseout)="gazel=false" class="text-xl mb-10 text-[#D02B32] border border-solid border-[#D02B32] w-fit py-3 px-5 hover:bg-[#D02B32] hover:text-white">{{'body.experiences.gazel.title'|translate}}</h1>
            <h1 (mouseover)="oishi=true" (mouseout)="oishi=false" class="text-xl mb-10 text-[#D02B32] border border-solid border-[#D02B32] w-fit py-3 px-5 hover:bg-[#D02B32] hover:text-white">{{'body.experiences.oishi.title'|translate}}</h1>
            <h1 (mouseover)="ddm=true" (mouseout)="ddm=false" class="text-xl mb-10 text-[#D02B32] border border-solid border-[#D02B32] w-fit py-3 px-5 hover:bg-[#D02B32] hover:text-white">{{'body.experiences.ddm.title'|translate}}</h1>
            <h1 (mouseover)="nagano=true" (mouseout)="nagano=false" class="text-xl mb-10 text-[#D02B32] border border-solid border-[#D02B32] w-fit py-3 px-5 hover:bg-[#D02B32] hover:text-white">{{'body.experiences.nagano.title'|translate}}</h1>
        </div>
        <div class="float-right">
            <div [ngStyle]="{'display': gazel ? 'block' : 'none'}" class="text-lg h-full px-7 w-96 border border-solid border-[#D02B32]">
                <h1 class="text-2xl text-center mt-6 mb-3">{{'body.experiences.gazel.title'|translate}}</h1>
                <div class="border border-solid border-[#D02B32] m-auto"></div>
                <h2 class="mt-5 lato-bold opacity-50">{{'body.experiences.gazel.place'|translate}}</h2>
                <h2 class="text-[#D02B32] lato">{{'body.experiences.gazel.date'|translate}}</h2>
                <div class="w-10/12 mt-4 mb-3">
                    <img src="./assets/images/experience_arrow.svg" class="float-left mt-3 mr-4">
                    <h3 class="lato">{{'body.experiences.gazel.post'|translate}}</h3>
                </div >
                <p class="lato-light" [innerHtml]="'body.experiences.gazel.core'|translate"></p>
            </div>

            <div [ngStyle]="{'display': oishi ? 'block' : 'none'}" class="text-lg h-full px-7 w-96 border border-solid border-[#D02B32]">
                <h1 class="text-2xl text-center mt-6 mb-3">{{'body.experiences.oishi.title'|translate}}</h1>
                <div class="border border-solid border-[#D02B32] m-auto"></div>
                <h2 class="mt-5 lato-bold opacity-50">{{'body.experiences.oishi.place'|translate}}</h2>
                <h2 class="text-[#D02B32] lato">{{'body.experiences.oishi.date'|translate}}</h2>
                <div class="w-10/12 mt-4 mb-3">
                    <img src="./assets/images/experience_arrow.svg" class="float-left mt-3 mr-4">
                    <h3 class="lato">{{'body.experiences.oishi.post'|translate}}</h3>
                </div >
                <p class="lato-light" [innerHtml]="'body.experiences.oishi.core'|translate"></p>
            </div>

            <div [ngStyle]="{'display': ddm ? 'block' : 'none'}" class="text-lg h-full px-7 w-96 border border-solid border-[#D02B32]">
                <h1 class="text-2xl text-center mt-6 mb-3">{{'body.experiences.ddm.title'|translate}}</h1>
                <div class="border border-solid border-[#D02B32] m-auto"></div>
                <h2 class="mt-5 lato-bold opacity-50">{{'body.experiences.ddm.place'|translate}}</h2>
                <h2 class="text-[#D02B32] lato">{{'body.experiences.ddm.date'|translate}}</h2>
                <div class="w-10/12 mt-4 mb-3">
                    <img src="./assets/images/experience_arrow.svg" class="float-left mt-3 mr-4">
                    <h3 class="lato">{{'body.experiences.ddm.post'|translate}}</h3>
                </div >
                <p class="lato-light" [innerHtml]="'body.experiences.ddm.core'|translate"></p>
            </div>

            <div [ngStyle]="{'display': nagano ? 'block' : 'none'}" class="text-lg h-full px-7 w-96 border border-solid border-[#D02B32]">
                <h1 class="text-2xl text-center mt-6 mb-3">{{'body.experiences.nagano.title'|translate}}</h1>
                <div class="border border-solid border-[#D02B32] m-auto"></div>
                <h2 class="mt-5 lato-bold opacity-50">{{'body.experiences.nagano.place'|translate}}</h2>
                <h2 class="text-[#D02B32] lato">{{'body.experiences.nagano.date'|translate}}</h2>
                <div class="w-10/12 mt-4 mb-3">
                    <img src="./assets/images/experience_arrow.svg" class="float-left mt-3 mr-4">
                    <h3 class="lato">{{'body.experiences.nagano.post'|translate}}</h3>
                </div >
                <p class="lato-light" [innerHtml]="'body.experiences.nagano.core'|translate"></p>
            </div>

            
        </div>
   </div>
</div>