<div class="w-full xl:w-11/12 mt-24 md:mt-52">
    <div class="w-12 mt-4 mr-7 border-solid border border-[#D02B32] float-left"></div>
    <h1 class="text-3xl ppeiko xl:text-4xl">{{'body.experiences.title'|translate}}</h1>
    <div class="mt-16 lg:grid lg:grid-cols-2 lg:gap-x-10 xl:gap-x-26 2xl:gap-x-36">
        
        <div class="text-[#D02B32] lato-light child:h-fit text-xl
        flex items-center child:inline-block child:mr-8 child:mb-4 scrollbar-mobile overflow-x-scroll text-center
        lg:block lg:items-start lg:child:block lg:overflow-y-scroll lg:scrollbar lg:h-[330px] lg: pl-8 xl:pl-14 lg:overflow-x-auto"> 
            <h1 (mouseover)="displayExperience('freelance')" class="lg:mb-6 border border-solid border-[#D02B32] w-fit py-1 lg:py-4 px-5 hover:bg-[#D02B32] hover:text-white">{{'body.experiences.freelance.title'|translate}}</h1>
            <h1 (mouseover)="displayExperience('gengoffee')" class="lg:mb-6 border border-solid border-[#D02B32] w-fit py-1 lg:py-4 px-5 hover:bg-[#D02B32] hover:text-white">{{'body.experiences.gengoffee.title'|translate}}</h1>
            <h1 (mouseover)="displayExperience('gazel')" class="lg:mb-6 border border-solid border-[#D02B32] w-fit py-1 lg:py-4 px-5 hover:bg-[#D02B32] hover:text-white">{{'body.experiences.gazel.title'|translate}}</h1>
            <h1 (mouseover)="displayExperience('oishi')" class="lg:mb-6 border border-solid border-[#D02B32] min-w-fit lg:w-fit py-1 lg:py-4 px-5 hover:bg-[#D02B32] hover:text-white">{{'body.experiences.oishi.title'|translate}}</h1>
            <h1 (mouseover)="displayExperience('ddm')" class="lg:mb-6 border border-solid border-[#D02B32] w-fit py-1 lg:py-4 px-5 hover:bg-[#D02B32] hover:text-white">{{'body.experiences.ddm.title'|translate}}</h1>
            <h1 (mouseover)="displayExperience('nagano')" class="border border-solid border-[#D02B32] w-fit py-1 lg:py-4 px-5 hover:bg-[#D02B32] hover:text-white">{{'body.experiences.nagano.title'|translate}}</h1>
        </div>
        <div class="h-96 lg:h-full lg:float-right relative overflow-hidden child:duration-[300ms] text-lg w-[310px] lg:w-auto m-auto lg:m-0
        child:w-[310px] child:lg:w-[350px] child:xl:w-96 child:h-fit child:lg:h-full  child:py-2 child:mt-2 child:lg:mt-0 child:px-5 child:xl:px-7">
            <div id="freelance" class="max-h-[95%] overflow-y-scroll scrollbar transition-all border border-solid border-[#D02B32] translate-x-[100vw] absolute">
                <h1 class="text-2xl text-center mt-4 mb-3">{{'body.experiences.freelance.title'|translate}}</h1>
                <div class="border border-solid border-[#D02B32] m-auto"></div>
                <h2 class="mt-5 lato-bold opacity-50">{{'body.experiences.freelance.place'|translate}}</h2>
                <h2 class="text-[#D02B32] lato">{{'body.experiences.freelance.date'|translate}}</h2>
                <div class="mt-4 mb-3">
                    <img src="./assets/images/experience_arrow.svg" class="float-left mt-3 mr-4">
                    <h3 class="lato">{{'body.experiences.freelance.post'|translate}}</h3>
                </div >
                <p class="lato-light" [innerHtml]="'body.experiences.freelance.core'|translate"></p>
            </div>
            <div id="gengoffee" class="max-h-[95%] overflow-y-scroll scrollbar transition-all border border-solid border-[#D02B32] translate-x-[100vw] absolute">
                <h1 class="text-2xl text-center mt-4 mb-3">{{'body.experiences.gengoffee.title'|translate}}</h1>
                <div class="border border-solid border-[#D02B32] m-auto"></div>
                <h2 class="mt-5 lato-bold opacity-50">{{'body.experiences.gengoffee.place'|translate}}</h2>
                <h2 class="text-[#D02B32] lato">{{'body.experiences.gengoffee.date'|translate}}</h2>
                <div class="mt-4 mb-3">
                    <img src="./assets/images/experience_arrow.svg" class="float-left mt-3 mr-4">
                    <h3 class="lato">{{'body.experiences.gengoffee.post'|translate}}</h3>
                </div >
                <p class="lato-light" [innerHtml]="'body.experiences.gengoffee.core'|translate"></p>
            </div>

            <div id="gazel" class="max-h-[95%] overflow-y-scroll scrollbar transition-all border border-solid border-[#D02B32] translate-x-[100vw] absolute">
                <h1 class="text-2xl text-center mt-4 mb-3">{{'body.experiences.gazel.title'|translate}}</h1>
                <div class="border border-solid border-[#D02B32] m-auto"></div>
                <h2 class="mt-5 lato-bold opacity-50">{{'body.experiences.gazel.place'|translate}}</h2>
                <h2 class="text-[#D02B32] lato">{{'body.experiences.gazel.date'|translate}}</h2>
                <div class="mt-4 mb-3">
                    <img src="./assets/images/experience_arrow.svg" class="float-left mt-3 mr-4">
                    <h3 class="lato">{{'body.experiences.gazel.post'|translate}}</h3>
                </div >
                <p class="lato-light" [innerHtml]="'body.experiences.gazel.core'|translate"></p>
            </div>

            <div id="oishi" class="max-h-[95%] overflow-y-scroll scrollbar transition-all border border-solid border-[#D02B32] translate-x-[100vw] absolute">
                <h1 class="text-2xl text-center mt-4 mb-3">{{'body.experiences.oishi.title'|translate}}</h1>
                <div class="border border-solid border-[#D02B32] m-auto"></div>
                <h2 class="mt-5 lato-bold opacity-50">{{'body.experiences.oishi.place'|translate}}</h2>
                <h2 class="text-[#D02B32] lato">{{'body.experiences.oishi.date'|translate}}</h2>
                <div class="mt-4 mb-3">
                    <img src="./assets/images/experience_arrow.svg" class="float-left mt-3 mr-4">
                    <h3 class="lato">{{'body.experiences.oishi.post'|translate}}</h3>
                </div >
                <p class="lato-light" [innerHtml]="'body.experiences.oishi.core'|translate"></p>
            </div>
           <div id="ddm" class="max-h-[95%] overflow-y-scroll scrollbar transition-all border border-solid border-[#D02B32] translate-x-[100vw] absolute">
                <h1 class="text-2xl text-center mt-4 mb-3">{{'body.experiences.ddm.title'|translate}}</h1>
                <div class="border border-solid border-[#D02B32] m-auto"></div>
                <h2 class="mt-5 lato-bold opacity-50">{{'body.experiences.ddm.place'|translate}}</h2>
                <h2 class="text-[#D02B32] lato">{{'body.experiences.ddm.date'|translate}}</h2>
                <div class="mt-4 mb-3">
                    <img src="./assets/images/experience_arrow.svg" class="float-left mt-3 mr-4">
                    <h3 class="lato">{{'body.experiences.ddm.post'|translate}}</h3>
                </div >
                <p class="lato-light" [innerHtml]="'body.experiences.ddm.core'|translate"></p>
            </div>
            <div id="nagano" class="max-h-[95%] overflow-y-scroll scrollbar transition-all border border-solid border-[#D02B32] translate-x-[100vw] absolute">
                <h1 class="text-2xl text-center mt-4 mb-3">{{'body.experiences.nagano.title'|translate}}</h1>
                <div class="border border-solid border-[#D02B32] m-auto"></div>
                <h2 class="mt-5 lato-bold opacity-50">{{'body.experiences.nagano.place'|translate}}</h2>
                <h2 class="text-[#D02B32] lato">{{'body.experiences.nagano.date'|translate}}</h2>
                <div class="mt-4 mb-3">
                    <img src="./assets/images/experience_arrow.svg" class="float-left mt-3 mr-4">
                    <h3 class="lato">{{'body.experiences.nagano.post'|translate}}</h3>
                </div >
                <p class="lato-light" [innerHtml]="'body.experiences.nagano.core'|translate"></p>
            </div>

            
        </div>
   </div>
</div>